.data-table {
    &__table {
        min-width: 100%;
    }

    &__td,
    &__th {
        max-width: 600px;
    }

    &__head-cell {
        font-weight: bold;
    }
}

.navigation-table {
    $self: &;
    padding-top: 10px;

    .collapsible-section {
        margin-top: 0;
    }

    &__fullscreen:fullscreen {
        background-color: var(--main-background);
    }

    &__iframe {
        display: block;
        margin-right: 10px;
        width: 100%;
        height: 100vh;
    }

    &__iframe-container {
        height: 100%;
    }
}
